.contenedor{
    height: 50px; 
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.logo{
    align-items: center;
    display: flex;
    margin-right: 7px;
    margin-left: 15px;
    img{
        height: 40px;

    }
}

img{
    height: 76px;
}

mat-grid-list{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    mat-grid-tile{
        img{
            border-radius: 50%;
        }
        button{
            width: 65%;
            height: 45%;
            margin-right: 5px;
            font-family: cursive;
            font-size: 22px;
            border: none;
            background: none;
            color: black;
        }

        button:hover{
            color: #d043e1;
            text-decoration: underline;
            text-decoration-color: #d043e1;
        }
    }
}
